<ul>
  <% categories.forEach(cat => { %>
    <li><%= cat.name %></li>
  <% }) %>
</ul>
<form action="/admin/categories" method="POST">

  <label>Category Name</label><br>
  <input 
    type="text" 
    name="name" 
    placeholder="Enter category name"
    required
  ><br><br>

  <label>Description</label><br>
  <textarea 
    name="description" 
    placeholder="Enter category description"
    required
  ></textarea><br><br>

  <button type="submit">Add Category</button>

</form>