<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Admin Login</h2>
            <p>Please enter your details to access the dashboard.</p>

            <% if (locals.error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
            
            <form action="/admin/login" method="POST">
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Enter your email" >
                </div>
                
                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="••••••••" >
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>
            
            <% if(typeof message !== 'undefined') { %>
                <p class="error-msg" style="color: red; margin-top: 10px;"><%= message %></p>
            <% } %>
        </div>
    </div>
</body>
</html>