<!DOCTYPE html>
<html>
<head>
  <title>Change Password | Alpha Books</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

  <%- include("../partials/header") %>

  <main class="auth-container">
    <section class="auth-left">
      <h2>Create New Password</h2>
      <p>Your new password must be different from the old one</p>
    </section>

    <section class="auth-right">
      <h1>Change Password</h1>

      <form>
        <input type="password" placeholder="New Password" />
        <input type="password" placeholder="Confirm Password" />

        <button type="submit">Update Password</button>
      </form>
    </section>
  </main>

  <%- include("../partials/footer") %>

</body>
</html>